body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#starfield {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 0;
    overflow: hidden;
}


.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
}

.hidden {
    display: none;
}

.button-90s {
    padding: 5px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
    background: linear-gradient(to bottom, #ffffff 0%, #d3d3d3 100%);
    border: 2px outset #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-shadow: 1px 1px #ffffff;
    box-shadow: 1px 1px 2px #000000 inset, -1px -1px 2px #ffffff inset;
    pointer-events: auto; /* This ensures the button is clickable */
}

.button-90s:hover {
    background: linear-gradient(to bottom, #e9e9e9 0%, #bbbbbb 100%);
    border: 2px inset #000000;
}

h1 {
    font-size: 3em; /* Adjust the size as needed */
    color: white;
}

p {
    font-size: 1.2em;
}

.welcome-text, .studio-text, .divider-line {
    display: block;
    text-align: center;
    color: white; /* Ensures visibility against the black background */
}

.divider-line {
    height: 2px;
    background-color: white;
    width: 50%;
    margin: 8px auto;
}

#categories {
    position: relative;
    top: 15%;
    color: yellow;
    text-align: center;
}

/* Styling for "Explore Categories" */
#categories h2 {
    font-size: 2.5em;  /* Font size for better visibility */
    color: yellow;  /* Changed the color to yellow */
}

/* Styling the list to remove dots and center it */
#categories ul {
    list-style: none;  /* Removes bullet points */
    padding: 0;  /* Removes default padding */
    margin: 0;  /* Removes default margin */
}

/* Styling for individual list items to add spacing */
#categories li {
    margin: 15px 0;  /* Adds space between the buttons */
}

.category-description {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    z-index: 20;
    background-color: black;
    color: #ffd700;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
